<article>
  <nav class="connect">
    <ul>
      <li><%= render 'connect/facebook/login_button' %></li>
      <li><%= render 'connect/google/login_button' %></li>
      <li><%= render 'connect/fakes/login_button' %></li>
    </ul>
  </nav>
</article>
