<article>
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">Login</div>
			<div class="panel-body">

				<%= form_for :fake, url: connect_fake_path, html:{class: "form-horizontal"} do |f| %>

					<div class="form-group">
						<label class="col-md-4 control-label">E-Mail Address</label>
						<div class="col-md-6">
							<input type="email" class="form-control" name="email">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label">Password</label>
						<div class="col-md-6">
							<input type="password" class="form-control" name="password">
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-6 col-md-offset-4">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="remember"> Remember Me
								</label>
							</div>
						</div>
					</div>

				    <div class="form-group">
				        <div class="col-md-6 col-md-offset-4">
							<button type="submit" class="btn btn-primary" style="margin-right: 15px;">
								Login
							</button>
				            <a href="/password/email">Forgot Your Password?</a>
				        </div>
				    </div>
				<% end %>

				<hr/>

				<div class="text-center">
					<p>Or login with Facebook or Google</p>
					<ul>
						<li><%= render 'connect/facebook/login_button' %></li>
						<li><%= render 'connect/google/login_button' %></li>
					</ul>
				</div>

				<!-- TODO: the render below will call the form view to the page, so move the form to /views/connect/fakes/_login_button.html.erb ++ may need to modify the database table for users to also store emails -->
			  	<!-- <nav class="connect">
				    <ul>
				      <li><%= render 'connect/fakes/login_button' %></li>
				    </ul>
			  	</nav> -->
			</div>
		</div>
	</div>
</article>
